

body {
  background-color: white;
  text-align: center;
}

.motto {
  font-size: 35px;
  font-style: italic;
}

.wrap {
  margin: 10px;
  border: 5px solid black;
  float: left;
  background-color: #ADD8E6;
  margin-left: 35px;
}

.column {
  width: 600px;
  float: left;
  background-color: #ADD8E6;
  padding: 3px;
}

h1 {
  text-align: center;
  border: 10px #663333;
  font-size: 50px;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: auto;
  padding: 10px;
  border: 10px solid #ADD8E6;
  background-color: black;
}

.img2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%
}
